.sign-in-button {
    border: 1px solid #c9ac3b;
    cursor: pointer;
    color: #c9ac3b;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    height: 32px;
    outline: none;
    -webkit-transition-property: color background; /* Safari */
    -webkit-transition-duration: .1s; /* Safari */
    -webkit-transition-delay: .1s; /* Safari */
    transition-property: color background;
    transition-duration: .1s;
    transition-delay: .1s;
}

.sign-in-button:hover {
    color: #fff;
    background: #c9ac3b;
}
